
desktop.ini
/data/
/TrainedModels
*.pyc
/__pycache__/


*.out
*.ipynb
.ipynb_checkpoints/
*/.DS_Store

# Ignore json config files
*.json

# Ignore bash scripts
*.sh

# Ignore pngs 
*.png
torch_utils/__pycache__/custom_ops.cpython-39.pyc
torch_utils/__pycache__/misc.cpython-39.pyc
torch_utils/__pycache__/persistence.cpython-39.pyc
torch_utils/ops/__pycache__/__init__.cpython-39.pyc
torch_utils/ops/__pycache__/bias_act.cpython-39.pyc
torch_utils/ops/__pycache__/conv2d_gradfix.cpython-39.pyc
torch_utils/ops/__pycache__/filtered_lrelu.cpython-39.pyc
torch_utils/ops/__pycache__/upfirdn2d.cpython-39.pyc

# Ignore wandb
/wandb

torch_utils/.DS_Store
/torch_utils/__pycache__
torch_utils/__pycache__/custom_ops.cpython-39.pyc
torch_utils/__pycache__/misc.cpython-39.pyc
torch_utils/__pycache__/persistence.cpython-39.pyc
torch_utils/ops/__pycache__/__init__.cpython-39.pyc
torch_utils/ops/__pycache__/bias_act.cpython-39.pyc
torch_utils/ops/__pycache__/conv2d_gradfix.cpython-39.pyc
torch_utils/ops/__pycache__/filtered_lrelu.cpython-39.pyc
torch_utils/ops/__pycache__/upfirdn2d.cpython-39.pyc
torch_utils/__pycache__/custom_ops.cpython-39.pyc
torch_utils/__pycache__/misc.cpython-39.pyc
torch_utils/__pycache__/persistence.cpython-39.pyc
torch_utils/ops/__pycache__/__init__.cpython-39.pyc
torch_utils/ops/__pycache__/bias_act.cpython-39.pyc
torch_utils/ops/__pycache__/conv2d_gradfix.cpython-39.pyc
torch_utils/ops/__pycache__/filtered_lrelu.cpython-39.pyc
torch_utils/ops/__pycache__/upfirdn2d.cpython-39.pyc
model.pkl
